node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.test
.env.local
.env.staging
.env.production
.nitro
.tanstack
.output
.vinxi
todos.json

.vite
.jj
.git

*storybook.log
storybook-static
