@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --color-pewter-50: oklch(97.63% 0 157.18);
  --color-pewter-100: oklch(92.18% 0.01 168.74);
  --color-pewter-200: oklch(84.11% 0.02 166.28);
  --color-pewter-300: oklch(72.41% 0.03 169.94);
  --color-pewter-400: oklch(62.27% 0.03 170.66);
  --color-pewter-500: oklch(53.21% 0.03 171.82);
  --color-pewter-600: oklch(45.15% 0.03 172.63);
  --color-pewter-700: oklch(39.62% 0.02 171.52);
  --color-pewter-800: oklch(35.08% 0.02 174.55);
  --color-pewter-900: oklch(31.98% 0.01 180.54);
  --color-pewter-950: oklch(22.29% 0.01 176.05);
}

@theme {
  --color-satin-linen-50: oklch(97.31% 0 91.45);
  --color-satin-linen-100: oklch(92.04% 0.01 98.3);
  --color-satin-linen-200: oklch(84.27% 0.03 98.13);
  --color-satin-linen-300: oklch(75.78% 0.04 97.07);
  --color-satin-linen-400: oklch(69.29% 0.05 93.1);
  --color-satin-linen-500: oklch(63.64% 0.05 84.97);
  --color-satin-linen-600: oklch(56.72% 0.05 74.93);
  --color-satin-linen-700: oklch(49.56% 0.04 65.26);
  --color-satin-linen-800: oklch(43.52% 0.03 55.44);
  --color-satin-linen-900: oklch(38.72% 0.02 54.56);
  --color-satin-linen-950: oklch(26.33% 0.02 58.84);
}

@theme {
  --color-medium-carmine-50: oklch(97.42% 0.01 58.22);
  --color-medium-carmine-100: oklch(94.05% 0.02 59.39);
  --color-medium-carmine-200: oklch(87.58% 0.05 56.55);
  --color-medium-carmine-300: oklch(79.15% 0.08 51.72);
  --color-medium-carmine-400: oklch(69.7% 0.12 45.25);
  --color-medium-carmine-500: oklch(63.11% 0.15 40.47);
  --color-medium-carmine-600: oklch(57.84% 0.15 35.72);
  --color-medium-carmine-700: oklch(50.67% 0.14 32.62);
  --color-medium-carmine-800: oklch(43.18% 0.11 29.64);
  --color-medium-carmine-900: oklch(37.87% 0.09 29.51);
  --color-medium-carmine-950: oklch(24.87% 0.06 26.89);
}

@theme {
  --color-ebony-clay-50: oklch(97.28% 0.01 264.53);
  --color-ebony-clay-100: oklch(93.86% 0.01 259.82);
  --color-ebony-clay-200: oklch(88.74% 0.02 265.58);
  --color-ebony-clay-300: oklch(81.13% 0.04 262.26);
  --color-ebony-clay-400: oklch(71.43% 0.06 264.06);
  --color-ebony-clay-500: oklch(63.2% 0.08 268.09);
  --color-ebony-clay-600: oklch(56.05% 0.1 272.65);
  --color-ebony-clay-700: oklch(51.17% 0.1 274.74);
  --color-ebony-clay-800: oklch(44.97% 0.08 277.38);
  --color-ebony-clay-900: oklch(40.14% 0.06 276.05);
  --color-ebony-clay-950: oklch(31.7% 0.04 278.04);
}

@theme {
  --color-punch-50: oklch(96.91% 0.02 17.42);
  --color-punch-100: oklch(93.43% 0.03 17.76);
  --color-punch-200: oklch(88.32% 0.06 19.62);
  --color-punch-300: oklch(80.51% 0.11 20.47);
  --color-punch-400: oklch(71.27% 0.18 23.47);
  --color-punch-500: oklch(64.41% 0.22 26.5);
  --color-punch-600: oklch(57.28% 0.22 28.33);
  --color-punch-700: oklch(51.56% 0.2 28.36);
  --color-punch-800: oklch(45.14% 0.17 27.82);
  --color-punch-900: oklch(40.12% 0.14 26.88);
  --color-punch-950: oklch(26.15% 0.09 27.48);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
